<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="settings.config">
		<add key="check_if_on_power" value="true" />
		<add key="check_if_on_wireless_network" value="true" />
		<add key="mqtt_broker_uri" value="homeassistant.local:1884/mqtt" />
		<add key="mqtt_broker_user" value="" />
		<add key="mqtt_broker_pwd" value=""/>
		<add key="wireless_networks" value="" />
		<add key="wireless_networks_delimiter" value="|" />
	</appSettings>
</configuration>